.MainPageSeperation {
    display: flex;
    /* flex-direction: row; */
}

.leftSideScreen {
    flex: 1 1 auto;
}

.imageContainer {
    position: relative;
    display: inline-block;
}

.backImage{
    height: 100vh;
    width: 33vw;
}

.leftSide {
    position: relative;
}
.top-image {
    /* What allows it to be on top of other image */
    position: absolute;
    
    top: 30vh;
    left: 0vw;
    z-index: 10;
    /* Size of Symbol */
    width: 100%;
    height: 15%;
    /* Color of symbol */
    fill: brown;
    stroke: chocolate;

    /* border: 10px solid rgba(255,0,0,0.5); */
    background: rgba(24, 3, 3, 0.3);
}

.rightSideScreen {
    display: flex;
    flex-direction: column;
    flex: 2 2 auto;
    justify-content: center;
    align-items: center;
    height: 100vh;
}


form {
    display: flex;
    flex-direction: column;

}

.topLayerOfForm, .secondLayerOfForm, .thirdLayerOfForm {
    display: flex;
}

.firstName, .lastName, .email, .phoneNumber, .password, .confirmPassword {
    display: flex;
    flex-direction: column;
}


.createAccountBtn{
    color: white;
    font-size: 14px;
    border: 25px green;
    background-color: green;
    border-radius: 25%;
}