.MainPageSeperation {
    display: flex;
    /* flex-direction: row; */
}

.leftSideScreen {
    flex: 1 1 auto;
}

.rightSideScreen {
    flex: 2 2 auto;
}
.leftSideBackImage{
    height: 100vh;
    width: 33vw;
}

form {
    display: flex;
    flex-direction: column;

}

.topLayerOfForm, .secondLayerOfForm, .thirdLayerOfForm {
    display: flex;
}

