.MainPageSeperation {
    display: flex;
    /* flex-direction: row; */
}

.leftSideScreen {
    flex: 1 1 auto;
}

.rightSideScreen {
    display: flex;
    flex-direction: column;
    flex: 2 2 auto;
    justify-content: center;
    align-items: center;
    height: 100vh;

}
.leftSideBackImage{
    height: 100vh;
    width: 33vw;
}

form {
    display: flex;
    flex-direction: column;

}

.topLayerOfForm, .secondLayerOfForm, .thirdLayerOfForm {
    display: flex;
}

.firstName, .lastName, .email, .phoneNumber, .password, .confirmPassword {
    display: flex;
    flex-direction: column;
}