.MainPageSeperation {
    display: flex;
    /* flex-direction: row; */
}

.leftSideScreen {
    flex: 1 1 auto;
}

.imageContainer {
    position: relative;
    display: inline-block;
}

.backImage{
    height: 100vh;
    width: 33vw;
}

.leftSide {
    position: relative;
}
.top-image {
    /* What allows it to be on top of other image */
    position: absolute;
    
    top: 30vh;
    left: 0vw;
    z-index: 10;
    /* Size of Symbol */
    width: 100%;
    height: 15%;
    /* Color of symbol */
    fill: brown;
    stroke: chocolate;

    /* border: 10px solid rgba(255,0,0,0.5); */
    background: rgba(24, 3, 3, 0.3);
}

.rightSideScreen {
    display: flex;
    flex-direction: column;
    flex: 2 2 auto;
    /* justify-content: center;
    align-items: center; */
    height: 100vh;
}

.introParagraph {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 500;
    margin: 12vh 10vw 0 3.5vw;
}

.formTitle {
    font-size: 20px;
    font-weight: bold;
}

form {
    display: flex;
    flex-direction: column;
    margin-left: 3.5vw;

}

input {
    border: none;
}

input:focus {
    border-radius: 5px ;
    outline: 2px solid blue;
    
}
/* input::selection {
    border: 1px blue;
} */


.topLayerOfForm {
    display: flex;
    margin-top: 0.5vh;
    margin-right: 2vh;
}

.secondLayerOfForm, .thirdLayerOfForm {
    display: flex;
    margin-top: 2vh;
}

.firstName, .lastName, .email, .phoneNumber, .password, .confirmPassword {
    display: flex;
    flex-direction: column;
}

.firstName, .email, .password {
    margin-right: 4vw;
}


.fourthLayerOfForm {
    margin-top: 5vh;
}

.createAccountBtn{
    color: white;
    font-size: 14px;
    border: 25px green;
    background-color: green;
    border-radius: 25%;
    margin-bottom: 2vh;
}

